
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 15px;
  left: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.nav__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  text-align: center;
  background-color:  #333338;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.nav-list__item {
  display: block;
  padding: 10px 20px;
  background-color: #333338;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav__list {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.nav__list {
  transition-duration: 0.25s;
}
.nav-list__item {
  transition-duration: 0.25s;
}
@media screen  and (min-width: 720px) {
  .page-section__avatar {
    flex-direction: row;
  }
  .info{
    max-height: 70px;
  }
  .menu__toggle{
    display: none;
  }
  .menu__btn{
    display: none;
  }
  .nav__list{
    visibility: visible;
    position:inherit;
    color: black;
    font-size: 1em;
    background-color:initial;
    box-shadow: initial;
    width:100%;
    padding: 0;
    display: flex; 

  }
  .nav-list__item {
    display: block;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color :#0f0f0e;
    color:rgb(247, 241, 241);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;  
}


}
h1,h2,h3 {
  color: rgb(255, 196, 0);
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
p:first-letter{
  display:block;
  margin:5px 0 0 5px;
  float:left;
  color:#000;
  font-size:60px;
  font-family:Georgia;
  }
p{
  font-family: Arial, Verdana, sans-serif;
  text-align: 20px;
  display: flex;
  

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.coding{
  color:blueviolet
}

.wrapper {
  width:1280px;
  margin:0 auto;
  width: 100%;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: grey;
}

a:visited {
  color: red;
}
.center1 {
  display: block;
  width: 5%;
}

